# Fetch Rewards Coding Exercise - Analytics Engineer

## First: Review unstructured JSON data and diagram a new structured relational data model

The aim is to convert the unstructured JSON files into cleaned structured data which we can query. I will use pandas to process and clean the data.

In [4]:
import gzip
import shutil
import os
import pandas as pd
from ast import literal_eval
import json
from datetime import datetime
from sqlalchemy import create_engine

The first step is to read the zipped json files through python.

In [5]:
for i in os.listdir():
  if 'json' in i:
    with gzip.open(i, 'rb') as f_in:
          with open(i.replace('.gz',''), 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

In [6]:
receipts = pd.read_json('receipts.json',lines=True)
brands = pd.read_json('brands.json',lines=True)
users = pd.read_json('users.json',lines=True)

### Receipts table

In [7]:
receipts.head()

                                    _id  ...                    userId
0  {'$oid': '5ff1e1eb0a720f0523000575'}  ...  5ff1e1eacfcf6c399c274ae6
1  {'$oid': '5ff1e1bb0a720f052300056b'}  ...  5ff1e194b6a9d73a3a9f1052
2  {'$oid': '5ff1e1f10a720f052300057a'}  ...  5ff1e1f1cfcf6c399c274b0b
3  {'$oid': '5ff1e1ee0a7214ada100056f'}  ...  5ff1e1eacfcf6c399c274ae6
4  {'$oid': '5ff1e1d20a7214ada1000561'}  ...  5ff1e194b6a9d73a3a9f1052

[5 rows x 15 columns]

The next step is to explode the 'rewardsReceiptItemList' field as it contains lists of receipts(we do this using literal_eval function from the ast package). Then we need to split each dictionary and get the columns from it(we do this using the json_normalize function in pandas). Once we do this we join this data back to the receipts data frame.

In [8]:
receipts = receipts.explode('rewardsReceiptItemList')
receipts.reset_index(inplace=True)

In [9]:
receipts = receipts.fillna({'rewardsReceiptItemList':'{}'})
receipts['rewardsReceiptItemList'] = receipts['rewardsReceiptItemList'].apply(lambda x:str(x))
receipts['rewardsReceiptItemList'] = receipts['rewardsReceiptItemList'].apply(literal_eval)

In [10]:
receipts_norm = pd.json_normalize(receipts['rewardsReceiptItemList'],errors='ignore',record_prefix='rewardsReceiptItemList')\
.add_prefix('rewardsReceiptItemList.')

In [11]:
receipts_final = pd.merge(receipts, receipts_norm, left_index=True, right_index=True, how='outer')

In [12]:
receipts_final

      index  ... rewardsReceiptItemList.metabriteCampaignId
0         0  ...                                        NaN
1         1  ...                                        NaN
2         1  ...                                        NaN
3         2  ...                                        NaN
4         3  ...                                        NaN
...     ...  ...                                        ...
7376   1115  ...                                        NaN
7377   1116  ...                                        NaN
7378   1117  ...                                        NaN
7379   1117  ...                                        NaN
7380   1118  ...                                        NaN

[7381 rows x 50 columns]

Now that we have exploded 'rewardsReceiptItemList' into multiple rows and split the keys into different columns we need to format the other fields that have dictionaries.

In [13]:
set().union(*(d.keys() for d in receipts_final['_id']))

{'$oid'}

In [14]:
set().union(*(d.keys() for d in receipts_final['createDate']))

{'$date'}

In [15]:
set().union(*(d.keys() for d in receipts_final['dateScanned']))

{'$date'}

In [16]:
set().union(*(d.keys() for d in receipts_final.dropna(subset=['finishedDate'])['finishedDate']))

{'$date'}

In [17]:
set().union(*(d.keys() for d in receipts_final.dropna(subset=['modifyDate'])['modifyDate']))

{'$date'}

In [18]:
set().union(*(d.keys() for d in receipts_final.dropna(subset=['pointsAwardedDate'])['pointsAwardedDate']))

{'$date'}

In [19]:
set().union(*(d.keys() for d in receipts_final.dropna(subset=['purchaseDate'])['purchaseDate']))

{'$date'}

We see that each of these columns contain only one dictionary item each so we just need to extract these fields. As for the date columns the time is stored as UTC so we convert that into datetime format using the apply function.

In [20]:
def date_converter(x):
  try:
    return(datetime.utcfromtimestamp(int(x['$date'])/1000).strftime('%Y-%m-%d %H:%M:%S'))
  except TypeError:
    return(None)

In [21]:
receipts_final['_id'] = receipts_final['_id'].apply(lambda x: x['$oid'])
receipts_final['createDate'] = receipts_final['createDate'].apply(lambda x: date_converter(x))
receipts_final['dateScanned'] = receipts_final['dateScanned'].apply(lambda x: date_converter(x))
receipts_final['finishedDate'] = receipts_final['finishedDate'].apply(lambda x: date_converter(x))
receipts_final['modifyDate'] = receipts_final['modifyDate'].apply(lambda x: date_converter(x))
receipts_final['pointsAwardedDate'] = receipts_final['pointsAwardedDate'].apply(lambda x: date_converter(x))
receipts_final['purchaseDate'] = receipts_final['purchaseDate'].apply(lambda x: date_converter(x))

In [22]:
receipts_final.head()

   index  ... rewardsReceiptItemList.metabriteCampaignId
0      0  ...                                        NaN
1      1  ...                                        NaN
2      1  ...                                        NaN
3      2  ...                                        NaN
4      3  ...                                        NaN

[5 rows x 50 columns]

### Users table

In [23]:
users.head()

                                    _id  active  ... signUpSource state
0  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI
1  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI
2  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI
3  {'$oid': '5ff1e1eacfcf6c399c274ae6'}    True  ...        Email    WI
4  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI

[5 rows x 7 columns]

In [24]:
set().union(*(d.keys() for d in users['_id']))

{'$oid'}

In [25]:
set().union(*(d.keys() for d in users['createdDate']))

{'$date'}

In [26]:
set().union(*(d.keys() for d in users.dropna(subset=['lastLogin'])['lastLogin']))

{'$date'}

Here we see that each dictionary contains just one key each and we just need to extract the value and we will use the same function created earlier to convert date into a user friendly format.

In [27]:
users['_id'] = users['_id'].apply(lambda x: x['$oid'])
users['createdDate'] = users['createdDate'].apply(lambda x: date_converter(x))
users['lastLogin'] = users['lastLogin'].apply(lambda x: date_converter(x))

In [28]:
users.head()

                        _id  active  ... signUpSource state
0  5ff1e194b6a9d73a3a9f1052    True  ...        Email    WI
1  5ff1e194b6a9d73a3a9f1052    True  ...        Email    WI
2  5ff1e194b6a9d73a3a9f1052    True  ...        Email    WI
3  5ff1e1eacfcf6c399c274ae6    True  ...        Email    WI
4  5ff1e194b6a9d73a3a9f1052    True  ...        Email    WI

[5 rows x 7 columns]

## Brands table

In [29]:
brands.head()

                                    _id  ...                      brandCode
0  {'$oid': '601ac115be37ce2ead437551'}  ...                            NaN
1  {'$oid': '601c5460be37ce2ead43755f'}  ...                      STARBUCKS
2  {'$oid': '601ac142be37ce2ead43755d'}  ...  TEST BRANDCODE @1612366146176
3  {'$oid': '601ac142be37ce2ead43755a'}  ...  TEST BRANDCODE @1612366146051
4  {'$oid': '601ac142be37ce2ead43755e'}  ...  TEST BRANDCODE @1612366146827

[5 rows x 8 columns]

In [30]:
set().union(*(d.keys() for d in brands['cpg']))

{'$id', '$ref'}

We need to explode the cpg fields as there is more than one element in the dictionary.

In [31]:
brands_norm = pd.json_normalize(brands['cpg'])
brands_norm = brands_norm.add_prefix('cpg.')

In [32]:
brands_norm

     cpg.$ref              cpg.$id.$oid
0        Cogs  601ac114be37ce2ead437550
1        Cogs  5332f5fbe4b03c9a25efd0ba
2        Cogs  601ac142be37ce2ead437559
3        Cogs  601ac142be37ce2ead437559
4        Cogs  5332fa12e4b03c9a25efd1e7
...       ...                       ...
1162     Cogs  5f77274dbe37ce6b592e90bf
1163     Cogs  53e10d6368abd3c7065097cc
1164     Cogs  5332fa12e4b03c9a25efd1e7
1165     Cogs  5332f5f6e4b03c9a25efd0b4
1166     Cogs  6026d757be37ce6369301467

[1167 rows x 2 columns]

In [33]:
brands_final = pd.merge(brands, brands_norm, left_index=True, right_index=True, how='outer')

In [34]:
brands_final.shape

(1167, 10)

In [35]:
brands_final['_id'] = brands_final['_id'].apply(lambda x: x['$oid'])

In [36]:
brands_final.head()

                        _id       barcode  ... cpg.$ref              cpg.$id.$oid
0  601ac115be37ce2ead437551  511111019862  ...     Cogs  601ac114be37ce2ead437550
1  601c5460be37ce2ead43755f  511111519928  ...     Cogs  5332f5fbe4b03c9a25efd0ba
2  601ac142be37ce2ead43755d  511111819905  ...     Cogs  601ac142be37ce2ead437559
3  601ac142be37ce2ead43755a  511111519874  ...     Cogs  601ac142be37ce2ead437559
4  601ac142be37ce2ead43755e  511111319917  ...     Cogs  5332fa12e4b03c9a25efd1e7

[5 rows x 10 columns]

## Second: Write a query that directly answers a predetermined question from a business stakeholder

I am using SQLite database through [SQL Alchemy](https://docs.sqlalchemy.org/en/14/dialects/sqlite.html) python to implement the SQL database for the queries.

In [37]:
engine = create_engine('sqlite://', echo=False)

In [38]:
users.drop_duplicates(subset=['_id']).to_sql('users',con=engine)

In [39]:
receipts_final.columns = receipts_final.columns.str.replace(".", "_")

In [40]:
receipts_final.drop(columns=['rewardsReceiptItemList'],axis=1).to_sql('receipts',con=engine)

In [41]:
brands_final.drop_duplicates(subset=['brandCode']).drop(columns=['cpg'],axis=1).to_sql('brands',con=engine)

Which brand has the most spend among users who were created within the past 6 months?

In [46]:
engine.execute("SELECT * from (SELECT r.rewardsReceiptItemList_brandCode,SUM(r.totalSpent) as summedTotalSpent from receipts r where r.userId in (SELECT _id from users u where u.createdDate > (SELECT strftime('%Y-%m-%d %H:%M:%S', 'now','-6 month'))) group by r.rewardsReceiptItemList_brandCode) where rewardsReceiptItemList_brandCode is not NULL order by summedTotalSpent DESC LIMIT 1;").fetchall()

[('BEN AND JERRYS', 197337.68000000025)]

## Third: Evaluate Data Quality Issues in the Data Provided

To find data quality issues I decided to look into the mapping between the brands data and receipts data using brandCode.

In [59]:
len(set(receipts_final.dropna(subset=['rewardsReceiptItemList_brandCode'])['rewardsReceiptItemList_brandCode']))

227

In [60]:
len(set(brands_final.dropna(subset=['brandCode'])['brandCode']))

898

As we see there are a lot more unique brand codes in the brands dataset compared to the receipts. Now we compare the two and see if all the receipts with a brand code can be mapped to the brands table.

In [61]:
receipts_dropped = receipts_final.dropna(subset=['rewardsReceiptItemList_brandCode'])
receipts_dropped['rewardsReceiptItemList_brandCode'] = receipts_dropped['rewardsReceiptItemList_brandCode'].apply(lambda x:str(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
brands_final['barcode'] = brands_final['barcode'].apply(lambda x: str(x))
brands_final['brandCode'] = brands_final['brandCode'].apply(lambda x: str(x))

In [63]:
receipts_with_brands = pd.merge(receipts_final,brands_final,left_on='rewardsReceiptItemList_brandCode',right_on='brandCode')

In [67]:
set(receipts_dropped[~(receipts_dropped['rewardsReceiptItemList_brandCode'].isin(brands['brandCode']))]['rewardsReceiptItemList_brandCode'])

{'7UP',
 'ADVIL',
 'AMERICAN BEAUTY',
 'ARROWHEAD',
 'AZTECA',
 'BANZA',
 'BEAR CREEK COUNTRY KITCHENS',
 'BEN AND JERRYS',
 'BETTY CROCKER',
 'BIC',
 'BIGELOW',
 'BLUE DIAMOND',
 "BOAR'S HEAD",
 'BORDEN',
 'BOTA BOX',
 'BRAND',
 "BRASWELL'S",
 'BUNNY',
 "BUSH'S BEST",
 'C&H',
 'CADBURY',
 'CAL-ORGANIC FARMS',
 'CALIFIA FARMS',
 "CAMPBELL'S",
 'CARAMELLO',
 'CHEERIOS',
 'CHEESE',
 'CHEEZ-IT',
 'CHEX',
 'CHICKEN OF THE SEA',
 'CHIQUITA',
 'CINNAMON TOAST CRUNCH',
 'COKE',
 'COLEMAN NATURAL',
 "CONNIE'S PIZZA",
 'CREST 3D WHITE',
 'CRISPIX',
 'DANNON',
 'DARE',
 'DELI',
 'DIET COKE',
 'DIGIORNO',
 'DOLE',
 'DR PEPPER',
 'EDWARDS',
 "EGGLAND'S BEST",
 'EGGO',
 'EL MONTEREY',
 'ENERGIZER MAX',
 'ESSENTIAL EVERYDAY',
 'FAGE',
 "FAMOUS DAVE'S",
 "FLORIDA'S NATURAL",
 'FOLGERS',
 'FORTUNE YAKISOBA',
 'FRANZ',
 "FRENCH'S",
 'FRESH EXPRESS',
 'FRESH STEP',
 'FRONTERA',
 'GALLO FAMILY VINEYARDS',
 'GENERAL MILLS',
 'GERBER',
 'GERM-X',
 'GREEN GIANT',
 'GRIMMWAY FARMS',
 'HANOVER',
 'HARVEST SNAPS',
 'HATCH FARMS',
 'HAWAIIAN',
 "HEMPLER'S",
 'HERITAGE FARM',
 "HERSHEY'S KISSES",
 'HEWLETT PACKARD',
 'HIDDEN VALLEY',
 'HILLSHIRE FARM',
 'HONEY BUNCHES OF OATS',
 'HORMEL',
 'HY-VEE',
 'HY-VEE SELECT',
 "JACK DANIEL'S READY TO EAT",
 "JACK LINK'S",
 'JELLY BELLY',
 'JENNIE-O',
 'JIMMY DEAN',
 'JOHN SOULES FOODS',
 'JOHNSONVILLE',
 'JUST BARE',
 'KARO',
 'KASHI',
 "KELLOGG'S",
 'KEMPS',
 'KERR',
 'KERRYGOLD',
 'KIKKOMAN',
 'KING ARTHUR FLOUR',
 'KIT KAT',
 'KITCHEN BASICS',
 'KLARBRUNN',
 'KRAFT EASY CHEESE',
 'KRAZY GLUE',
 'KROGER',
 'KRUSTEAZ',
 'LA BANDERITA',
 "LAURA'S LEAN BEEF",
 'LIGHT & FIT',
 'LIGHT & FIT GREEK',
 'LINDSAY',
 'LINDT',
 'LIPTON',
 'LITEHOUSE',
 'LUNDBERG FAMILY FARMS',
 "MARIE CALLENDER'S",
 "MARIE'S",
 "MARTINELLI'S",
 'MCCORMICK',
 'MCCORMICK GRILL MATES',
 "MERKT'S",
 'MISSION',
 'MORTON',
 "MRS. CUBBISON'S",
 "MRS. RENFRO'S",
 'NABISCO',
 "NATURE'S PATH ORGANIC",
 'NESTLE',
 'NUTELLA',
 'NUTRI-GRAIN',
 'OLD EL PASO',
 'ORAL-B GLIDE',
 'ORBIT',
 'OREO',
 'ORGANIC ROOT STIMULATOR',
 'ORGANICVILLE',
 'OVALTINE',
 'PEARLS',
 'PILLSBURY',
 'PLAYTEX',
 'POMPEIAN',
 'POWER CRUNCH',
 'PRINGLES',
 'PRIVATE SELECTION',
 'PROGRESSO',
 'PURINA ONE',
 'R.W. KNUDSEN',
 'RAGU',
 "REESE'S",
 'RENUZIT',
 'RITZ',
 'RITZ TOASTED CHIPS',
 'ROSARITA',
 'SABRA',
 "SCHWEBEL'S",
 'SHOPRITE',
 'SIGNATURE',
 'SIGNATURE KITCHEN',
 'SIMPLE TRUTH',
 'SIMPLE TRUTH ORGANIC',
 'SIMPLY POTATOES',
 'SKITTLES',
 'SMITHFIELD',
 'SO DELICIOUS',
 'SPARKLING ICE',
 'SPECIAL K',
 'STARKIST',
 "STOUFFER'S",
 "STOUFFER'S CLASSICS",
 'TAYLOR FARMS',
 'TEMPTATIONS',
 'THAI KITCHEN',
 "THAT'S SMART!",
 'THOMAS',
 'THOMAS ENGLISH MUFFINS',
 "THOMAS'",
 'TIC TAC',
 'TILLAMOOK',
 'TOLL HOUSE',
 'TOP FLIGHT',
 'TROLLI',
 'TYSON',
 "VAN DE KAMP'S",
 'VITAL FARMS ALFRESCO EGGS',
 "WELCH'S",
 'WINGSTOP',
 'WISHBONE',
 'WONDERFUL',
 'ZESTA'}

Above are all the receipts with a brand code but the codes are missing in the brands table. This would be an issue as a lot of data will be missing when we query between the two tables.